<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Constellation</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/feb9ae65df.js" crossorigin="anonymous"></script>
  {{!-- for font awesome icons ^^^ --}}

  <style>
    body {
      background-image:
        url('https://images.unsplash.com/photo-1502134249126-9f3755a50d78?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat:
        no-repeat;
      height: 100vh;
      margin: 0;
      width: 100%;
      color: #ffffff;
      font-size: 15px;
    }

    .navbar {
      background-color: rgba(0, 0, 0, 0.8);
      /* Adjust the alpha value as needed
      */
      font-size: 15px;
    }

    .navbar-brand {
      font-size: 25px;
    }

    .material-icons {
      font-size: 25px;
    }
  </style>

</head>

<body>


  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary">
    <div class="container-fluid">
      <a style="color: #FFFFFF;" class="navbar-brand" href="/">Constellation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color: #FAF3DD;" class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          {{#if logged_in}}
          <li class="nav-item">
            <a style="color: #FAF3DD;" class="nav-link active" href="/profile/{{user.id}}">Profile</a>
          </li>
          <li class="nav-item">
            <a style="color: #FAF3DD;" class="nav-link active" href="/socials/">Socials</a>
          </li>
          <li class="nav-item logout">
            <a style="color: #FAF3DD; background-color: rgba(0, 0, 0); cursor: pointer;" class="nav-link active logout"
              id="logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a style="color: #FAF3DD;" class="nav-link active" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a style="color:#FAF3DD; background-color: rgba(0, 0, 0, 0.8);" class="nav-link active"
              href="/login">Login</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Navbar -->

  <main class="container mt-4">


    {{{body}}}
  </main>



  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

  <footer class="fixed-bottom mt-4 text-center">
    <p>&copy; 2023 Constellation. All rights reserved.</p>
  </footer>

</html>