<head>
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
  />
  <!-- Other meta tags and links -->

  <style>
    body { background-image:
    url('https://images.unsplash.com/photo-1502134249126-9f3755a50d78?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; background-position: center; background-repeat:
    no-repeat; height: 100vh; margin: 0;
    color: #FAF3DD; font-size: 15px; } .container { height: 100vh; display:
    flex; align-items: center; justify-content: center; } .card {
    background-color: #070600; border-radius: 8px; box-shadow: 0 0 10px
    rgba(247, 243, 227, 0.3); } .welcome-message { text-align: center;
    font-size: 30px; margin-bottom: 20px; color: #FAF3DD; text-shadow: 0 0 10px
    rgba(247, 243, 227, 0.5); font-weight:
    700; } label { display: block; margin-bottom: 8px; } .input-container {
    position: relative; } input { width: 100%; padding: 8px; margin-bottom:
    16px; box-sizing: border-box; } .eye-icon { width: 20px; position: absolute;
    right: 10px; top: 70%; transform: translateY(-50%); cursor: pointer; color:
    #070600; } .btn { color: #fff; border-radius: 4px; cursor: pointer; }
  </style>
</head>

<body>
  <div class="container">
    <form class="login-form card col-md-6" action="/api/users/login" method="post">
      <div class="card-body">
        <h2 class="text-center mb-4 welcome-message">Login</h2>

        <div class="form-group">
          <label for="username-login">Username:</label>
          <input
            placeholder="Username"
            type="text"
            id="username-login"
            name="username"
            class="form-control"
            required
          />
        </div>

        <div class="form-group input-container">
          <label for="password-login">Password:</label>
          <input
            type="password"
            id="password-login"
            placeholder="Password"
            name="password"
            class="form-control"
            required
          />
          <img
            src="/eye.svg"
            alt="Show Password"
            class="eye-icon"
            id="showPassword"
          />
          <img
            src="/eye-slash.svg"
            alt="Hide Password"
            class="eye-icon"
            id="hidePassword"
            style="display: none;"
          />
        </div>

        <button
          style="background-color: #43AA8B;"
          type="submit"
          class="login-form btn btn-success btn-block"
        >Login</button>
        <p class="text-center mt-3">Don't have an account?
          <a href="/signup">Sign up!</a></p>
      </div>
    </form>
  </div>

</body>

<script src="./js/login.js"></script>