
    <div class="container">
        <div class="card">
        <div class="card-body">
            <div class="row align-items-center justify-content-center">
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Username" aria-label="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Password" aria-label="password">
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Email" aria-label="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Confirm Password" aria-label="confirm">
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <label for="birthday">Birthday:</label>
                <input type="date" id="birthday" name="birthday" value="1930-07-22" min="1930-01-01" max="2005-12-31" />
            </div>
            
        </div>
        <div class="row align-items-center d-flex justify-content-center">
            <button type="button" class="btn btn-success" id="submitBtn">Submit</button>
        </div>
    </div>
</div>